{% extends "seleniumBdd/product.html" %}
{% block title %}
    materials
{% endblock %}
{% block content%}
    <div id="content-wrapper" class="myColorElem" >
        <div id ="mainDiv" class="bg-white mx-2 ">
            <div class="row"></div>


              {% for currentMaterial in material %}

                {% include "seleniumBdd/onePosition.html" with one_material=currentMaterial%}

            {% endfor %}

            <div class="col-sm-12 text-center">
                    <a id="addBtn" class="btn btn-success my-2" href="{% url 'create' %}"> Добавить </a>
            </div>
        </div>
    </div>

{% endblock %}